## Data Cleaning

In [1]:
import pandas as pd

In [2]:
dfg1 = pd.read_csv("Goal_1.csv")

C:\Users\RASHMIKA\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3,17,24,26,28,30,52,54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
dfg1.shape

(112678, 84)

In [4]:
dfg1.head()

,Unnamed: 0,ID,Goal,Target,Indicator,ReleaseStatus,ReleaseName,SeriesID,SeriesCode,isDSDSeries,...,Level_of_government,Type of renewable technology,Population Group,Custom Breakdown,Service Attribute,Land cover,Bioclimatic belt,Illicit Financial Flows,Nutrient Loading,Type of OFDI scheme
0,1,9687,1,1.1,1.1.1,Published,2023.Q3.G.02,1844,SI_POV_DAY1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,9688,1,1.1,1.1.1,Published,2023.Q3.G.02,1844,SI_POV_DAY1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,9689,1,1.1,1.1.1,Published,2023.Q3.G.02,1844,SI_POV_DAY1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,9690,1,1.1,1.1.1,Published,2023.Q3.G.02,1844,SI_POV_DAY1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,9691,1,1.1,1.1.1,Published,2023.Q3.G.02,1844,SI_POV_DAY1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
dfg1.tail()

,Unnamed: 0,ID,Goal,Target,Indicator,ReleaseStatus,ReleaseName,SeriesID,SeriesCode,isDSDSeries,...,Level_of_government,Type of renewable technology,Population Group,Custom Breakdown,Service Attribute,Land cover,Bioclimatic belt,Illicit Financial Flows,Nutrient Loading,Type of OFDI scheme
112673,112674,109667,1,1.a,1.a.1,Published,2023.Q3.G.02,3247,DC_ODA_POVG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112674,112675,109668,1,1.a,1.a.1,Published,2023.Q3.G.02,3247,DC_ODA_POVG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112675,112676,109669,1,1.a,1.a.1,Published,2023.Q3.G.02,3247,DC_ODA_POVG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112676,112677,109670,1,1.a,1.a.1,Published,2023.Q3.G.02,3247,DC_ODA_POVG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112677,112678,109671,1,1.a,1.a.1,Published,2023.Q3.G.02,3247,DC_ODA_POVG,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dfg1.columns

Index(['Unnamed: 0', 'ID', 'Goal', 'Target', 'Indicator', 'ReleaseStatus',
       'ReleaseName', 'SeriesID', 'SeriesCode', 'isDSDSeries',
       'SeriesDescription', 'SeriesObservationCount', 'GeoAreaCode',
       'GeoAreaName', 'TimePeriod', 'Value', 'ValueType', 'Time_Detail',
       'TimeCoverage', 'UpperBound', 'LowerBound', 'BasePeriod', 'Source',
       'GeoInfoUrl', 'FootNote', 'ObservationID', 'Age', 'Freq', 'Location',
       'Nature', 'Sex', 'UnitMultiplier', 'Units', 'Level/Status',
       'Name of international agreement', 'Education level', 'Type of product',
       'Type of facilities', 'Name of international institution',
       'Type of occupation', 'Tariff regime (status)', 'Type of skill',
       'Mode of transportation', 'Type of mobile technology',
       'Name of non-communicable disease', 'Type of speed', 'Migratory status',
       'Disability status', 'Hazard type', 'IHR Capacity', 'Cities',
       'Reporting Type', 'Quantile', 'Activity', 'Observation Status',
       'Policy Domains', 'Policy instruments', 'Sampling Stations',
       'Type of waste treatment', 'Grounds of discrimination',
       'Parliamentary committees', 'Cause of death', 'Substance use disorders',
       'Mountain Elevation', 'Deviation Level',
       'Frequency of Chlorophyll-a concentration', 'Food Waste Sector',
       'Fiscal intervention stage', 'Level of requirement', 'Type of support',
       'Report Ordinal', 'Counterpart', 'Government_Name',
       'Severity of price levels', 'Level_of_government',
       'Type of renewable technology', 'Population Group', 'Custom Breakdown',
       'Service Attribute', 'Land cover', 'Bioclimatic belt',
       'Illicit Financial Flows', 'Nutrient Loading', 'Type of OFDI scheme'],
      dtype='object')

In [7]:
# Hardcoding some columns to be removed 
cols_to_drop = ['Unnamed: 0', 'ReleaseStatus', 'ReleaseName', 'isDSDSeries', 'ValueType', 'FootNote', 'Source', 'Reporting Type', 'Observation Status', 'BasePeriod']

for i in cols_to_drop:
    dfg1.drop(i, inplace=True, axis=1)

In [8]:
dfg1.shape

(112678, 74)

In [9]:
# Counting the number of null values in each column

cols_to_drop = []

# Columns that have % values as NULL 
null_counts = dfg1.isnull().sum()
for each_col, each_col_null_count in null_counts.items():
    if ((each_col_null_count/len(dfg1))*100) == 100:
        print(each_col, each_col_null_count)
        cols_to_drop.append(each_col)

TimeCoverage 112678
UpperBound 112678
LowerBound 112678
GeoInfoUrl 112678
Freq 112678
UnitMultiplier 112678
Level/Status 112678
Name of international agreement 112678
Education level 112678
Type of product 112678
Type of facilities 112678
Name of international institution 112678
Type of occupation 112678
Tariff regime (status) 112678
Type of skill 112678
Mode of transportation 112678
Type of mobile technology 112678
Name of non-communicable disease 112678
Type of speed 112678
Migratory status 112678
Disability status 112678
Hazard type 112678
IHR Capacity 112678
Cities 112678
Activity 112678
Policy Domains 112678
Policy instruments 112678
Sampling Stations 112678
Type of waste treatment 112678
Grounds of discrimination 112678
Parliamentary committees 112678
Cause of death 112678
Substance use disorders 112678
Mountain Elevation 112678
Deviation Level 112678
Frequency of Chlorophyll-a concentration 112678
Food Waste Sector 112678
Fiscal intervention stage 112678
Level of requirement 112678
Type of support 112678
Report Ordinal 112678
Counterpart 112678
Government_Name 112678
Severity of price levels 112678
Level_of_government 112678
Type of renewable technology 112678
Population Group 112678
Custom Breakdown 112678
Service Attribute 112678
Land cover 112678
Bioclimatic belt 112678
Illicit Financial Flows 112678
Nutrient Loading 112678
Type of OFDI scheme 112678

In [10]:
len(cols_to_drop)

54

In [11]:
for i in cols_to_drop:
    dfg1.drop(i, inplace=True, axis=1)

In [12]:
dfg1.shape

(112678, 20)

In [13]:
null_counts = dfg1.isnull().sum()

for each_col, each_col_null_count in null_counts.items():
    print(each_col, "\t", round((each_col_null_count/len(dfg1))*100))

ID 	 0
Goal 	 0
Target 	 0
Indicator 	 0
SeriesID 	 0
SeriesCode 	 0
SeriesDescription 	 0
SeriesObservationCount 	 0
GeoAreaCode 	 0
GeoAreaName 	 0
TimePeriod 	 0
Value 	 0
Time_Detail 	 0
ObservationID 	 0
Age 	 63
Location 	 60
Nature 	 0
Sex 	 58
Units 	 0
Quantile 	 98

In [14]:
dfg1[['Target', 'Indicator']].value_counts().reset_index(name='count')

   Target Indicator  count
0     1.1     1.1.1  39055
1     1.4     1.4.1  31317
2     1.5     1.5.1  15083
3     1.3     1.3.1   7087
4     1.5     1.5.2   4437
5     1.a     1.a.1   4285
6     1.2     1.2.2   3062
7     1.a     1.a.2   2809
8     1.5     1.5.4   1963
9     1.5     1.5.2   1457
10    1.2     1.2.1   1113
11    1.5     1.5.3    637
12    1.5     1.5.1    243
13    1.4     1.4.2    130

In [16]:
df2 = dfg1.drop_duplicates()

In [17]:
df2

,ID,Goal,Target,Indicator,SeriesID,SeriesCode,SeriesDescription,SeriesObservationCount,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,ObservationID,Age,Location,Nature,Sex,Units,Quantile
0,9687,1,1.1,1.1.1,1844,SI_POV_DAY1,Proportion of population below international p...,9775,1,World,1981,43.6000,1981,15409200,ALLAGE,ALLAREA,N,BOTHSEX,PERCENT,NaN
1,9688,1,1.1,1.1.1,1844,SI_POV_DAY1,Proportion of population below international p...,9775,1,World,1982,43.2000,1982,15404848,ALLAGE,ALLAREA,N,BOTHSEX,PERCENT,NaN
2,9689,1,1.1,1.1.1,1844,SI_POV_DAY1,Proportion of population below international p...,9775,1,World,1983,42.5000,1983,15404849,ALLAGE,ALLAREA,N,BOTHSEX,PERCENT,NaN
3,9690,1,1.1,1.1.1,1844,SI_POV_DAY1,Proportion of population below international p...,9775,1,World,1984,41.1000,1984,15404850,ALLAGE,ALLAREA,N,BOTHSEX,PERCENT,NaN
4,9691,1,1.1,1.1.1,1844,SI_POV_DAY1,Proportion of population below international p...,9775,1,World,1985,39.7000,1985,15404851,ALLAGE,ALLAREA,N,BOTHSEX,PERCENT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112673,109667,1,1.a,1.a.1,3247,DC_ODA_POVG,Official development assistance grants for pov...,682,722,Small island developing States (SIDS),2017,0.0431,2017,15771967,NaN,NaN,N,NaN,PERCENT,NaN
112674,109668,1,1.a,1.a.1,3247,DC_ODA_POVG,Official development assistance grants for pov...,682,722,Small island developing States (SIDS),2018,0.0384,2018,15771884,NaN,NaN,N,NaN,PERCENT,NaN
112675,109669,1,1.a,1.a.1,3247,DC_ODA_POVG,Official development assistance grants for pov...,682,722,Small island developing States (SIDS),2019,0.0651,2019,15772104,NaN,NaN,N,NaN,PERCENT,NaN
112676,109670,1,1.a,1.a.1,3247,DC_ODA_POVG,Official development assistance grants for pov...,682,722,Small island developing States (SIDS),2020,0.0761,2020,15772031,NaN,NaN,N,NaN,PERCENT,NaN
112677,109671,1,1.a,1.a.1,3247,DC_ODA_POVG,Official development assistance grants for pov...,682,722,Small island developing States (SIDS),2021,0.0860,2021,15772045,NaN,NaN,N,NaN,PERCENT,NaN

In [15]:
df2.to_csv("Goal1_cleaned_v2.csv")